---
import Hero from "@components/Hero.astro";
import Navbar from "@components/Navbar";
import Portafolio from "@components/Portafolio.astro";
import Section from "@components/Section.astro";
import Suscribe from "@components/Suscribe.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Landing page">
	<Navbar client:load/>
	<main>
		<Hero />
		<Section />
		<Portafolio />
		<Suscribe />
		<Footer />
	</main>
</Layout>
