<div class="Content_Cards">
    <!-- Card #1 -->
    <div class="p-5">
        <div class="Content_Icon">
            <img src="Activity.svg" width="30" height="30" alt="icono de work" />
        </div>

        <h2 class="Card_Title">Grow Your Business</h2>
        <p class="text-base text-slate-700">
            We help identify the best ways to <br /> improve your business
        </p>
        <a class="Card_Link group">Learn More <i class="ri-arrow-right-line Animation_Icon"></i></a>
    </div>

    <!-- Card #2 -->
    <div class="p-5">
        <div class="Content_Icon">
            <img src="Heart.svg" width="30" height="30" alt="icono de work" />
        </div>

        <h2 class="Card_Title">Improve brand loyalty</h2>
        <p class="text-base text-slate-700">
            We help identify the best ways to <br /> improve your business
        </p>
        <a class="Card_Link group">Learn More <i class="ri-arrow-right-line Animation_Icon"></i></a>
    </div>

    <!-- Card #3 -->
    <div class="p-5">
        <div class="Content_Icon">
            <img src="Work.svg" width="30" height="30" alt="icono de work" />
        </div>

        <h2 class="Card_Title">Improve Business Model</h2>
        <p class="text-base text-slate-700">
            We help identify the best ways to <br /> improve your business
        </p>
        <a class="Card_Link group">Learn More <i class="ri-arrow-right-line Animation_Icon"></i></a>
    </div>
</div>
