<div class="Content_Hero">
    <div class="mt-16 mx-4 lg:mx-0">
        <h1 class="Title_Hero">Increase Your Customers Loyalty and Satisfaction</h1>
        <p class="Description_Hero">
            We help businesses like yours earn more customers,<br /> standout from competitors, make
            more money
        </p>
        <button class="Button_Get_Started">Get started</button>
    </div>
    <img src="hero.png" alt="Image Hero" class="Image_Hero" />
    <div
        class="lg:h-24 h-auto bg-white w-full lg:absolute lg:bottom-5 left-0 flex items-center justify-center flex-col lg:flex-row lg:justify-around gap-y-10 lg:gap-y-0 py-10 lg:py-0"
    >
        <img src="logo_google.svg" alt="logo google" width="80" />
        <img src="logo_trello.svg" alt="logo tello" width="80" />
        <img src="logo_notion.svg" alt="logo notion" width="80" />
        <img src="logo_monday.svg" alt="logo monday" width="80" />
        <img src="logo_slack.svg" alt="logo slack" width="80" />
    </div>
</div>
