<div class="lg:mx-16 mx-4 mt-20">
    <h2 class="font-inter text-primary uppercase text-sm">Our portafolio</h2>
    <p class="mt-5 text-xl text-slate-950 font-poppins">
        We provide the Perfect Solution <br /> to your business growth
    </p>

    <div class="mt-16 grid lg:grid-cols-2 justify-items-center gap-y-10">
        <!-- Project #1 -->
        <div class="w-2/3 py-5 px-3">
            <img src="img-1.png" alt="project 1" class="mx-auto" />
            <h2 class="text-slate-950 text-lg font-poppins py-4">
                Digital Marketing Agency Website
            </h2>
            <p class="text-slate-700 font-inter text-sm">
                This is a website for a client who want to achieve their goals and meet their users
                needs while also increasing their reach. Accross all platforms. This is a website
                rebrand
            </p>
        </div>
        <!-- Project #2 -->
        <div class="w-2/3 py-5 px-3">
            <img src="img-2.png" alt="project 2" class="mx-auto" />
            <h2 class="text-slate-950 text-lg font-poppins py-4">
                Digital Marketing Agency Website
            </h2>
            <p class="text-slate-700 font-inter text-sm">
                This is a website for a client who want to achieve their goals and meet their users
                needs while also increasing their reach. Accross all platforms. This is a website
                rebrand
            </p>
        </div>
        <!-- Project #3 -->
        <div class="w-2/3 py-5 px-3">
            <img src="img-3.png" alt="project 3" class="mx-auto" />
            <h2 class="text-slate-950 text-lg font-poppins py-4">
                Digital Marketing Agency Website
            </h2>
            <p class="text-slate-700 font-inter text-sm">
                This is a website for a client who want to achieve their goals and meet their users
                needs while also increasing their reach. Accross all platforms. This is a website
                rebrand
            </p>
        </div>
        <!-- Project #4 -->
        <div class="w-2/3 py-5 px-3">
            <img src="img-4.png" alt="project 4" class="mx-auto" />
            <h2 class="text-slate-950 text-lg font-poppins py-4">
                Digital Marketing Agency Website
            </h2>
            <p class="text-slate-700 font-inter text-sm">
                This is a website for a client who want to achieve their goals and meet their users
                needs while also increasing their reach. Accross all platforms. This is a website
                rebrand
            </p>
        </div>
    </div>
</div>
