---
import Cards from "./Cards.astro";
---

<div class="mt-16 lg:mx-16 mx-4">
    <h2 class="Section_Subtitle">What we do</h2>
    <h2 class="Section_Description">
        We provide the Perfect Solution <br /> to your business growth
    </h2>

    <Cards />

    <div class="Content_All_Icons">
        <div class="Content_Section_Icon lg:border-r">
            <img
                src="project-plan.svg"
                alt="image ploject plan"
                width="50"
                height="50"
                class="mx-auto"
            />
            <span class="Title_Section">Completed Projects</span>
            <span class="Section_Data">100 +</span>
        </div>
        <div class="Content_Section_Icon lg:border-r">
            <img src="rating.svg" alt="image rating" width="50" height="50" class="mx-auto" />
            <span class="Title_Section">Customer Satisfaction</span>
            <span class="Section_Data">20 %</span>
        </div>
        <div class="Content_Section_Icon lg:border-r">
            <img src="raise.svg" alt="image raise" width="50" height="50" class="mx-auto" />
            <span class="Title_Section">Raised by Clients</span>
            <span class="Section_Data">$10M</span>
        </div>
        <div class="Content_Section_Icon lg:border-r-0">
            <img src="timeline.svg" alt="image timeline" width="50" height="50" class="mx-auto" />
            <span class="Title_Section">Years in Business</span>
            <span class="Section_Data">2 yrs</span>
        </div>
    </div>
</div>
