<div class="my-44 lg:mx-16 mx-4 flex justify-center">
    <div class="flex flex-col gap-y-2">
        <h2 class="text-base font-inter text-primary uppercase text-center mb-5">suscribe</h2>
        <span class="text-xl text-center font-poppins text-slate-950"
            >Subscribe to get the latest <br /> news about us</span
        >
        <p class="text-xs font-inter text-slate-700">
            Please drop your email below to get daily update about what we do
        </p>
        <div>
            <input
                type="text"
                placeholder="Enter Your Email Adress"
                class="mt-8 border py-2 px-2 rounded-lg border-slate-400 font-inter lg:ml-10"
            />
            <button class="bg-second text-white rounded-lg px-2 py-2 transition-all active:scale-90">Suscribe</button>
        </div>
    </div>
</div>
