---
import "@styles/styles.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Prefetch font  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<!-- Font Inter  -->
		<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
		<!-- Font poppins -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<!-- Icons Remix Icons -->
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<!-- Preload Image Hero.svg -->
		<link rel="preload" href="./hero.png" as="image">
	</head>
	<body>
		<slot />
	</body>
</html>
